.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top:0%;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      width: 100%;
    }
  }
  
  .helpBar{
    position: relative !important;
    width:100%;
    font-weight: 1 !important;
    z-index: 99 !important;
  }
  
  .countryHelp{
  
    position: relative !important;
    width:100%;
    font-weight: 1 !important;
    z-index: 99 !important;
    margin: 0;
  
  
  }
  .popoverWidth{
  
      width:55%;
      left: 15% !important;
  
  }